<ul>
  <% @tasks.each do |task| %>
    <li>
      <h2><%= task.completed ? '[X]' : '[ ]' %> <%= link_to task.title, task_path(task) %> <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></h2>
    </li>
  <% end %>
</ul>
<p><%= link_to "Create task", new_task_path %></p>
